<div mat-dialog-title>
    <h1>Formation Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Titre</mat-label>
                <input matInput type="text" placeholder="Ex. Feriel" formControlName="titre">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput type="textarea" placeholder="MongoDB Angular ExpresJS" formControlName="descreption">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Durée</mat-label>
                <input matInput type="number" placeholder="Ex. 100H" formControlName="duree">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Lieu</mat-label>
                <input matInput type="text" placeholder="TA Office" formControlName="lieu">
            </mat-form-field>
        </div>

    

        <div class="row">
           
          
            <mat-form-field appearance="outline">
                <mat-label>Capacité maximale</mat-label>
                <input matInput placeholder="Ex. 9" type="number" formControlName="capacite">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Coût</mat-label>
                <input matInput placeholder="Ex. 1.800" type="number" formControlName="cout">
            </mat-form-field>
        </div>
       
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>